.masthead{
  height: 100vh;
  min-height: 500px;
  background-image: url('../../assets/img/header2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-image-text{
    color:aliceblue;
    font-weight:800;
    font-size: 800%;
    }

.img-sizing{
    height:40rem;

}

.card-text{
    text-align: center;
}

.section-coloring{
    background-color: #A9A9A9;
    color: #A9A9A9;
}